@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Rubik:wght@300;400;500;600&family=Work+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #0E1014;
    font-family: 'Rubik', sans-serif;
}

.backButton {
    position: fixed;
    top: 30px;
    left: 30px;
    border: none;
    padding: 8px;
    border-radius: 50px;
    background: #E8EAF0;
    transition: 0.3s ease-in-out;
}

.backButton:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px #E8EAF0;
}

.arrow {
    background: transparent;
}

.arrow:hover {
    animation: rotate 0.3s linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
