@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Rubik:wght@300;400;500;600&family=Work+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #0E1014;
    font-family: 'Rubik', sans-serif;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.backButton {
    position: fixed;
    top: 30px;
    left: 30px;
    border: none;
    padding: 8px;
    border-radius: 50px;
    background: #E8EAF0;
    transition: 0.3s linear;
}

.backButton:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px #E8EAF0;
}

.arrow {
    background: transparent;
}

.arrow:hover {
    animation: rotate 0.3s linear;
}

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    padding: 20px;
    height: 80%;
    width: 70%;
    border-radius: 20px;
    background: #13151d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.loginText {
    color: #E8EAF0;
    font-size: xx-large;
    font-weight: 500;
    background: transparent;
}

.inputContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: transparent;
}

.nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: transparent;
}

.loginInput {
    width: 100%;
    padding: 10px 20px;
    background: #E8EAF0;
    border-radius: 5px;
    color: #13151d;
    font-size: medium;
    font-weight: 400;
    letter-spacing: 1px;
}

.loginInput::placeholder {
    color: #13151d;
    opacity: 0.6;
    font-size: medium;
    font-weight: 400;
    letter-spacing: 1px;
}

.buttonContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: transparent;
}

.loginButton {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    letter-spacing: 1px;
    color: #E8EAF0;
    font-size: medium;
    font-weight: 500;
    border: 1px solid #E8EAF0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    transition: 0.3s linear;
}

.loginButton:hover {
    background: #E8EAF0;
    color: #13151d;
    transform: translateY(-5px);
}

.account {
    cursor: pointer;
    color: #E8EAF0;
    font-size: small;
    font-weight: 400;
    letter-spacing: 1px;
    background: transparent;
}

#account:hover {
    color: aqua;
    text-decoration: underline;
}

.link {
    color: aqua;
}

.link:hover {
    text-decoration: underline;
}

.checkBox {
    margin-right: 10px;
}
